{%extends "layouts/templateUser.html"%}

{% block body %}
{% for mesg in get_flashed_messages() %}
    {% if mesg == 'SuccessAdd' %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Recolección registrada exitosamente</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% elif mesg == 'SuccessEdit' %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <strong>Recoleccion editada exitosamente</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% elif mesg == 'SuccessDelete' %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Recoleccion cancelada exitosamente</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% else %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>¡Ocurrió un error inesperado!</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
{% endfor %}

<div class="my-4 d-flex justify-content-center">
    <span class="h1 bg-success-subtle border rounded border-3 border-success p-1">Mis Recolecciones</span>
</div>

<div class="m-3">

    <div class="d-flex justify-content-center">

        <div class="vol align-self-start col-5 bg-success-subtle p-2 rounded-2">
            {{mapa|safe}}
        </div>
        
    </div>
</div>



<div class="container justify-content-center mb-5 d-flex">

    <div class="row col-4 px-2 col align-self-start">

        <div class="my-4 d-flex justify-content-center">
            <span class="h5 bg-success-subtle border rounded border-3 border-success p-1">Recolecciones Pendientes</span>
        </div>
        
        {% for recoleccion in recolecciones %}
            {% if recoleccion.5 == 'Pendiente' %}
            <div class="col-sm-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        
                        <h5 class="card-title">Fecha: {{recoleccion.2}} <br> Hora: {{recoleccion.3}}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Punto de recoleccion: {{recoleccion.6}}</h6>

                    <div class="d-flex align-middle mt-1">
                        <i class="fa-solid fa-bottle-water ms-1 me-2 mt-1"></i>
                        <span class="card-text fw-bold">Tipo: &nbsp;</span> 
                        <span class="card-text">{{recoleccion.1}}</span> 
                    </div>

                    <div class="d-flex align-middle mt-1">
                        <i class="bi bi-box-seam me-2"></i>
                        <span class="card-text fw-bold">Cantidad: &nbsp;</span> 
                        <span class="card-text ">{{recoleccion.4}} KG</span> 
                    </div>
                    
                    <div class="d-flex align-middle mt-1">
                        
                        <i class="bi bi-check-lg me-2"></i>
                        
                        
                            <span class="card-text fw-bold">Estado:</span>
                            
                            <span class="ms-2 card-text text-warning fw-bold dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">{{ recoleccion[5] }}</span> 

                            <ul class="dropdown-menu">
                                <form action="/editarEstadoRecoleccion/{{'0'}}" method="POST">
                                    <input type="text" hidden value="{{ recoleccion[0] }}" name="txtIdR">
                                    <li><button class="btn text-success fw-bold" type="submit">Realizada</button></li>
                                </form>

                                <form action="/editarEstadoRecoleccion/{{'1'}}" method="POST">
                                    <input type="text" hidden value="{{ recoleccion[0]}}" name="txtIdR">
                                    <li><button class="btn text-danger fw-bold" type="submit">Cancelada</button></li>
                                </form>
                            </ul>
                            
                        
                    </div>
                    
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>


    <div class="row col-4 px-2 col align-self-start">

        <div class="my-4 d-flex justify-content-center">
            <span class="h5 bg-success-subtle border rounded border-3 border-success p-1">Recolecciones Realizadas</span>
        </div>

        {% for recoleccion in recolecciones %}
            {% if recoleccion.5 == 'Completada' %}
            <div class="col-sm-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        
                        <h5 class="card-title">Fecha: {{recoleccion.2}} <br> Hora: {{recoleccion.3}}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Punto de recoleccion: {{recoleccion.6}}</h6>

                    <div class="d-flex align-middle mt-1">
                        <i class="fa-solid fa-bottle-water ms-1 me-2 mt-1"></i>
                        <span class="card-text fw-bold">Tipo: &nbsp;</span> 
                        <span class="card-text">{{recoleccion.1}}</span> 
                    </div>

                    <div class="d-flex align-middle mt-1">
                        <i class="bi bi-box-seam me-2"></i>
                        <span class="card-text fw-bold">Cantidad: &nbsp;</span> 
                        <span class="card-text ">{{recoleccion.4}} KG</span> 
                    </div>
                    
                    <div class="d-flex align-middle mt-1">
                        <i class="bi bi-check-lg me-2"></i>
                        <span class="card-text fw-bold">Estado: &nbsp;</span>
                        <span class="card-text text-success fw-bold">{{recoleccion.5}}</span> 
                    </div>
                    
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>


    <div class="row col-4 px-2 col align-self-start">

        <div class="my-4 d-flex justify-content-center">
            <span class="h5 bg-success-subtle border rounded border-3 border-success p-1">Recolecciones Canceladas</span>
        </div>

        {% for recoleccion in recolecciones %}
            {% if recoleccion.5 == 'Cancelada' %}
            <div class="col-sm-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        
                        <h5 class="card-title">Fecha: {{recoleccion.2}} <br> Hora: {{recoleccion.3}}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Punto de recoleccion: {{recoleccion.6}}</h6>

                    <div class="d-flex align-middle mt-1">
                        <i class="fa-solid fa-bottle-water ms-1 me-2 mt-1"></i>
                        <span class="card-text fw-bold">Tipo: &nbsp;</span> 
                        <span class="card-text">{{recoleccion.1}}</span> 
                    </div>

                    <div class="d-flex align-middle mt-1">
                        <i class="bi bi-box-seam me-2"></i>
                        <span class="card-text fw-bold">Cantidad: &nbsp;</span> 
                        <span class="card-text ">{{recoleccion.4}} KG</span> 
                    </div>
                    
                    <div class="d-flex align-middle mt-1">
                        <i class="bi bi-check-lg me-2"></i>
                        <span class="card-text fw-bold">Estado: &nbsp;</span>
                        <span class="card-text text-danger fw-bold">{{recoleccion.5}}</span> 
                    </div>
                    
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}