{% extends 'layouts/guest.html' %}

{% block message %}

{% for mesg in get_flashed_messages() %}
    {% if mesg == 'PasswordError' %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Ambas contraseñas deben coincidir</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% else %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>¡Ocurrió un error inesperado!</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
{% endfor %}

{% endblock %}

{% block content %}
<span class="h1">Registrarse</span>
<div class="mt-2">
    <form method="POST" action="/registerUser">
        <div class="">
            <label for="name" class="my-2">Nombre</label>
    
            <div class="">
                <input id="name" type="text" class="form-control" name="txtNombre" value="" required autocomplete="name" autofocus>
            </div>
        </div>

        <div class="">
            <label for="email" class="my-2">Correo</label>
    
            <div class="">
                <input id="email" type="email" class="form-control" name="txtEmail" value="" required autocomplete="email" autofocus>
            </div>
        </div>
        
        <div class="">
            <label for="ubicacion" class="my-2">Ubicacion</label>
    
            <div class="">
                <input id="ubicacion" type="text" class="form-control" name="txtUbicacion" required autocomplete="new-password">
            </div>
        </div>

        <div class="">
            <label for="password" class="my-2">Contraseña</label>
    
            <div class="">
                <input id="password" type="password" class="form-control" name="txtPassword" required autocomplete="new-password">
            </div>
        </div>

        <div class="">
            <label for="password-confirm" class="my-2">Confirmar Contraseña</label>
    
            <div class="">
                <input id="password-confirm" type="password" class="form-control" name="txtPasswordConfirmation" required autocomplete="new-password">
            </div>
        </div>

        <div class="">
            <div class="d-flex justify-content-center">
                
                <a class="btn btn-link mt-3 start-100" href="/login">
                    ¿Ya tienes una cuenta? Inicia sesión
                </a>
            </div>
            
            <button type="submit" class="btn btn-success mt-3 w-100">
                Registrarme
            </button>
        </div>
    </form>
</div>
{% endblock%}