<div class="modal fade" id="AgregarRecoleccion">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Agregar recoleccion</h5>
            </button>
            </div>
            <div class="modal-body">
            <form action="" method="POST">   
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Tipo</th>
                                <th scope="col">Punto de recolección</th>
                                <th scope="col">Fecha y hora</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="text" class="form-control" name="txtNombreAdd" id="nombreAg" value="" required>
                                </td>

                                <td>
                                    <input type="text" class="form-control" name="txtNombreAdd" id="nombreAg" value="" required>
                                </td>

                                <td>
                                    <input type="text" class="form-control" name="txtNombreAdd" id="nombreAg" value="" required>
                                </td>

                                <td>
                                    <input type="text" class="form-control" name="txtNombreAdd" id="nombreAg" value="" required>
                                </td>

                                <td>
                                    <input type="text" class="form-control" name="txtNombreAdd" id="nombreAg" value="" required>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div> 
            </div>
                <div class="modal-footer"> 
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-info" style="color: white;" name="btnActualizarMaterial">Crear Recoleccion</button>
                </div>
            </form>
        </div>
    </div>
</div>