<div class="modal fade" id="EditarRecoleccion{{recoleccion.0}}">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Editar recoleccion</h5>
            </button>
            </div>
            <div class="modal-body">
            <form action="/editarRecoleccion/{{recoleccion.0}}" method="POST">   
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Tipo</th>
                                <th scope="col">Punto de recolección</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Cantidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="text" class="form-control" name="txtTipoEdit" value="{{recoleccion.1}}" required>
                                </td>

                                <td>
                                    <input type="text" class="form-control" name="txtPuntoRecoleccionEdit" value="{{recoleccion.6}}" required>
                                </td>

                                <td>
                                    <input type="date" class="form-control" name="txtDiaEdit" value="{{recoleccion.2}}" required>
                                </td>

                                <td>
                                    <input type="time" class="form-control" name="txtHoraEdit" value="{{recoleccion.3}}" required>
                                </td>

                                <td>
                                    <input type="int" class="form-control" name="intCantidadEdit" value="{{recoleccion.4}}" required>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div> 
            </div>
                <div class="modal-footer"> 
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-info" style="color: white;" name="btnActualizarMaterial">Guardar Cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>