<div class="modal fade" id="CrearEmpresa">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Agregar punto de recoleccion</h5>
            </button>
            </div>
            <div class="modal-body">
            <form action="/agregarEmpresa" method="POST">   
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                
                                <th scope="col">Nombre</th>
                                <th scope="col">Tipo</th>
                                <th scope="col">Ubicación</th>
                                <th scope="col">Correo</th>
                                <th scope="col">Teléfono</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="text" class="form-control" name="txtNombreAdd">
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="txtTipoAdd">
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="txtUbicacionAdd">
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="txtCorreoAdd">
                                </td>
                                <td>
                                    <input type="number" class="form-control" name="intTelefonoAdd">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </div> 
            </div>
                <div class="modal-footer"> 
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-info" style="color: white;" name="btnActualizarMaterial">Crear Empresa</button>
                </div>
            </form>
        </div>
    </div>
</div>