<div class="modal fade" id="AgregarUsuario">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Agregar usuario</h5>
            </div>
            <div class="modal-body">
            <form action="/agregarUsuario" method="POST">   
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Correo</th>
                                <th scope="col">Contraseña</th>
                                <th scope="col">Ubicación</th>
                                <th scope="col">Permisos</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="text" class="form-control" name="txtNombreAdd" value="" required>
                                </td>

                                <td>
                                    <input type="text" class="form-control" name="txtCorreoAdd" value="" required>
                                </td>

                                <td>
                                    <input type="text" class="form-control" name="txtPasswordAdd" ialue="" required>
                                </td>

                                <td>
                                    <input type="text" class="form-control" name="txtUbicacionAdd" value="" required>
                                </td>

                                <td>
                                    <input type="text" class="form-control" name="txtPermisosAdd" value="" required>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div> 
            </div>
                <div class="modal-footer"> 
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-info" style="color: white;" name="btnActualizarMaterial">Crear Usuario</button>
                </div>
            </form>
        </div>
    </div>
</div>