{%extends "template.html"%}

{% block body %}
<div class="my-4 d-flex justify-content-center">
    <span class="h1 ">Mis Recolecciones</span>
</div>

<div class="m-3">
    <div class="d-flex flex-row">
        <div class="container col-6">
            <table class="table table-success table-striped text-center table-bordered border-secondary-subtle rounded-3">
                <thead class="text-center">
                    <tr>
                        <th scope="col">Tipo</th>
                        <th scope="col">Punto de recolección</th>
                        <th scope="col">Día</th>
                        <th scope="col">Hora</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Status</th>
                        <th scope="col"> ------- </th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr>
                        {% for recoleccion in recolecciones %}
                        <td>{{recoleccion.1}}</td>
                        <td>{{recoleccion.6}}</td>
                        <td>{{recoleccion.2}}</td>
                        <td>{{recoleccion.3}}</td>
                        <td>{{recoleccion.4}}</td>
                        <td>{{recoleccion.5}}</td>
                        <td>
                            <div class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Opciones </a>
                                <ul class="dropdown-menu">
                                    <li><a class='dropdown-item text-info' href='#' data-bs-toggle='modal' data-bs-target='#EditarRecoleccion{{recoleccion.0}}'>Modificar</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item text-danger" href="#" data-bs-toggle='modal' data-bs-target='#EliminarRecoleccion{{recoleccion.0}}'>Eliminar</a></li>
                                </ul>
                            </div>
                            {% include 'eliminarRecoleccion.html' %}
                            {% include 'modificarRecoleccion.html' %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <a class='btn btn-success mt-2' href='#' data-bs-toggle='modal' data-bs-target='#AgregarRecoleccion'>Agregar Recoleccion</a>

        </div>
    
        <div class="container">
            
        </div>
        
    </div>


</div>
{% include 'agregarRecoleccion.html' %}
{% endblock %}