<div class="modal fade" id="EditarPuntoR{{punto.0}}">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Editar punto de recolección</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/editarPunto/{{punto.0}}" method="POST">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Ubicación</th>
                                    <th scope="col">Hora Inicio</th>
                                    <th scope="col">Hora Final</th>
                                    <th scope="col">Días</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input type="text" class="form-control" name="txtNombreEdit" value="{{punto.1}}">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" name="txtUbicacionEdit" value="{{punto.2}}">
                                    </td>
                                    <td>
                                        <input type="time" class="form-control" name="timeInicioEdit" value="{{punto.3}}">
                                    </td>
                                    <td>
                                        <input type="time" class="form-control" name="timeFinalEdit" value="{{punto.4}}">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" name="txtDiasEdit" value="{{punto.5}}">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-info" style="color: white;" name="btnGuardarCambios">Guardar Cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
