<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/app.css') }}">
</head>
<body class="bg-img">
    <!-- NAVBAR -->
    <nav class="navbar p-3 opacity-75" data-bs-theme="dark" style="background-color: #003710;">
        <div class="d-flex">
            <a class="btn navbar-brand nav-link" type="button" href="/">ECOmmunity</a>
        </div>

        <!-- <form class="d-flex col-5" role="search">
            <input class="form-control me-2 bg-white" type="search" placeholder="" aria-label="Search">
            <button class="btn btn-success" type="submit">Buscar</button>
        </form> -->
    
        <div class="d-flex">
            <button class="btn navbar-brand" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions"
                aria-controls="offcanvasWithBothOptions">Menú</button>
        </div>
    </nav>
    
    <!-- SIDEBAR  -->
    <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header">
            <h3 class="offcanvas-title fw-bold ms-3" id="offcanvasWithBothOptionsLabel">Menú</h3>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ol class="list-group list-group list-group-flush">
                <li class="list-group-item">
                    <a class="btn btn-info my-3">
                        <i class="bi bi-person-circle"></i>
                        Mi cuenta</a>
                </li>

                <li class="list-group-item">
                    <a class="btn btn-success my-3" href="/listaEmpresas">
                        <i class="bi bi-building"></i>
                        Lista de empresas</a>
                </li>
                
                <li class="list-group-item">
                    <a class="btn btn-success my-3" href="/puntosRecoleccion">
                        <i class="bi bi-geo-alt-fill"></i>
                        Puntos de recolección</a>
                </li>
    
                <li class="list-group-item">
                    <a class="btn btn-success my-3" href="/listaUsuarios">
                        <i class="bi bi-file-earmark-person-fill"></i>
                        Lista de usuarios</a>
                </li>

                <li class="list-group-item">
                    <a class="btn btn-success my-3" href="/misRecolecciones">
                        <i class="bi bi-recycle"></i>
                        Mis recolecciones</a>
                </li>
            </ol>
        </div>
    </div>

    {%block body%}
    
    {%endblock%}
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</html>